/* IMPORT FONTS ========== */
@font-face {
  font-family: AvenirNext;
  src: url('./assets/Avenir Next Regular.otf');
}

@font-face {
  font-family: AvenirNext;
  src: url('./assets/Avenir Next Medium.otf');
  font-weight: 300;
}

@font-face {
  font-family: AvenirNext;
  src: url('./assets/Avenir Next Demi Bold.otf');
  font-weight: bold;
}

/* FONT PRE-SETS ========== */

body {
  font-family: AvenirNext;
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.6px;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: bold;
  font-size: 32px;
  color: #e43c4b;
  letter-spacing: 0.4px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  text-align: none;
  color: #272727;
  letter-spacing: 0.3px;
}

h4 {
  font-weight: 300;
  font-size: 20px;
  text-align: none;
  color: #272727;
  letter-spacing: 0.2px;
}

h5 {
  font-weight: bold;
  font-size: 18px;
  color: #413d3d;
  letter-spacing: 0.3px;
}

p, li {
  font-size: 16px;
  color: #1e3656;
  letter-spacing: 0.2px;
  font-weight: normal;
}

caption {
  font-weight: 300;
  font-size: 14px;
  color: #7c7c7c;
  letter-spacing: 0.2px;
}

/* LOG IN / SIGN UP STYLES ========== */
#login {
  background: url('./assets/onboarding-bg.png') center no-repeat;
  background-size: 100% auto;
  height: 100vh;
  width: 100vw;
}

.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 25vw;
  margin: auto;
  padding-top: 15% !important;
}

.ig {
  position: relative;
  margin: 10px;
}

.email, .password, .username {
  position: absolute;
  left: 10px;
  top: 10px; 
  height: 30px;
}

.form-control{
  background-color: rgba(0, 0, 0, 0.2);
  border:none;
  border-radius: 50px;
  height: 50px;
  padding-left: 50px;
}

.form-control:focus{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  box-shadow: none;
}

.btn {
  margin-top: 15%;
  background-color: #e43c4b;
  border-radius: 50px;
  color: white;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  height: 50px;
  transition: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #a20f25;
}

.btn:focus{
  box-shadow: none;
}

.logNav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.logNav > * {
  color:white !important;
}

.logNavBtn > *{
  color: white;
  text-decoration: none;
}

.logNavBtn > *:hover {
  cursor: pointer;
  color: black !important;
  text-decoration: none;
}

/* NAVBAR ========== */
.navbar {
  background: transparent;
  position: absolute;
  width: 90vw;
  margin-left: 5vw;
}

.navbar-brand > a, li > a {
  color:white;
  margin: 0 20px 0 20px;
  text-decoration: none;
}

.navbar-brand > a:hover, li > a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.navbar-nav {
  flex-direction: row;
}

/* HEADER ========== */
#header {
  min-height: 600px;
  background: url('/assets/banner.png') no-repeat;
  background-size: 100% 100%;
  /* overflow: hidden; */
}

#header > h1 {
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto !important;
  height: 100px;
}

/* WHAT WE DO ========== */
#whatwedo {
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px rgba(128, 128, 128, 0.2) solid;
  border-bottom: 1px rgba(128, 128, 128,0.2) solid;
}

#whatwedo > * {
  width: 40vw;
}

#wedo {
  text-align: left;
  line-height: 40px;
}

/* ENTERTAINMENT ========== */
#entertainment {
  height: 475px;
  display: flex;
  background-color: #f1faef;
  justify-content: space-around;
  align-items: center;
  border-top: 1px rgba(128, 128, 128, 0.2) solid;
}

.entertainmentItem {
  display: flex; 
}

.entertainmentDescription {
  width: 320px;
  text-align: left;
  margin-left: 30px;
}

.thumbnail {
  height: 200px;
  width: 200px; 
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.331);
}

/* TRAVEL ========== */
#travel {
  height: 450px;
  border-bottom: 1px rgba(128, 128, 128,0.2) solid;
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin: 20px; */
}

#locations {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin: 0 auto;
}

.locationInfo {
  display:flex;
  flex-direction: column;
  text-align: center;
}

.locationInfo > * {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

caption {
  margin: 0 !important;
}
/* NEWSLETTER ========== */
#newsletter {
  height: 300px;
  border-top: 1px rgba(128, 128, 128, 0.2) solid;
  border-bottom: 1px rgba(128, 128, 128,0.2) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#newsInput{
  margin: 20px;
  display:flex;
  position: relative;
}

#newsEmail {
  position: relative;
  height: 50px;
  padding: 15px;
  width: 500px;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.2);
}

#newsEmail:focus {
  outline: none;
}

#subscribeButton {
  position: absolute;
  border-radius: 50px;
  border: none;
  background-color: #1e3656;
  color: white;
  height: 50px;
  font-size: 14px;
  width: 200px;
  left: 320px;
  margin: 0;
  font-weight: normal;
}

#subscribeButton:hover{
  background-color: #255ba2;
}

.swal2-image {
  height: 200px;
  width: 200px;
}

/* FOOTER ========== */
#footer {
  display:flex;
  width: 100vw;
  background:#1e3656;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

#footer > p {
  /* margin: 0 auto; */
  color:white;

}